<thead>
    <tr>
        {{table-th current_sort=sort_by name="Dimension" sort_by="default" sort_data=(action 'sort_data')}}
        {{table-th current_sort=sort_by name="Boards" sort_by="boards" sort_data=(action 'sort_data')}}
        {{table-th current_sort=sort_by name="BoardFeet" sort_by="boardfeet" sort_data=(action 'sort_data')}}
        {{#table-th}}{{fa-icon "cogs"}}{{/table-th}}
    </tr>
</thead>
<tbody>
    <tr class="total">
        <td>All Dimensions</td>
        <td>{{total_boards}}</td>
        <td>{{format_number total_boardfeet precision=2}}</td>
        <td></td>
    </tr>
    {{#each sorted_model as |row|}} {{!-- ember install ember-truth-helpers --}}
    <tr class="{{row-class row}}">
        <td>
            {{#link-to "production.dimension" row.DimensionID}} {{row.DimensionName}} {{/link-to}} {{!-- logs to console --}} {{!-- {{log
            row.DimensionName}} --}} {{!-- inserts a debug point and stops there --}} {{!-- {{debugger}} --}}
        </td>
        <td class="quantity">{{row.BoardsSum}}</td>
        {{!-- ember install ember-cli-accounting --}}
        <td class="quantity">{{format-number row.BoardFeetSum precision=2}}</td>
        <td>
            {{#link-to "production.dimension" row.DimensionID}}
                {{fa-icon 'search'}}
            {{/link-to}}
        </td>
    </tr>
    {{/each}}
</tbody>